.oil img{
    height: 550px;
    width: 700px;
    border-radius: 20px;
    object-fit: cover;
}
 

.oil  img{
    margin-left: 50px;
    width:500px;
   border-radius: 20px;
}

.oil .month{
    
    padding: 2px;
    background-color: brown;
    color:white;
    width: 150px;
    size: 10px;
    /* text-align: center;  */
}

.oil .hea{
    margin-left: 50px;
    color: #377e66;
    font-size: 35px;
}

.oil .pi{
    
    font-size: 30px;
    text-align: center;
}

.oil .good{
    margin-left: 50px;
    font-size: 25px;
}

.oil .row .col-xs-12 .text-muted{
    padding: 100px;
}

.pa{
    margin-left: 20px;
}

.oil .hq{
    transform: translateY(-1000px);
    margin-left: 15rem;
}

.oil{
    margin-left: 50px;
    margin-right: 50px;
}

.oil .good h6{
    transform: translateY(-635px);
    margin-left: 6rem;
}

.oil .good h1{
    transform: translateY(-650px);
}

.footer{
    padding: 10px;
    background-color: rgb(231, 231, 231);
    text-align: center;
    margin-top: -500px;
}
@media (max-width:600px){
    .oil .heading{
        font-size: 15px;
    }

    .oil .heading span{
        font-size: 15px;
    }

    .oil img{
    height: auto;
    max-width: 100%;
    }
    
    .oil .month{
        
        padding: 2px;
        background-color: rgb(160, 25, 25);
        color:white;
        width: 150px;
        font-size: 15px;
        text-align: center;
    }
    
    .oil .hea{
        text-align: center;
        color: #377e66;
        font-size: 15px;
    }
    
    .oil .pi{
        
        font-size: 15px;
        text-align: center;
    }
    
    .oil .good{
        text-align: center;
        font-size: 15px;
    }
    
    .oil .good a{
        color: #377e66;
        font-size: 15px;
    }

    .oil .pi h1{
        color: transparent;
        font-size: 30px; 
        transform: translateY(600px); 
        margin-left: 50px
    }

    .oil .pi h6{
        color: transparent;
        transform: translateY(635px);
    }

    .oil .hq{
        color: #000;
        text-align: center;
        transform: translateY(200px);
    }

    .oil .hq span{
        color: rgb(184, 51, 51);font-size:20px;
    }

    .oil .row .col-xs-12 .text-muted{
        padding: 100px;
    }
    
    .footer{
        margin-top: -1500px;
    }
}
